
:root{
    /* color gradient */
    --light-green-:#c9f8ce;
    --deep-green-: #016f0e;
    --mixed-green-:#77dd77;
}

.about-section-one{
    margin-top: 100px;
    display: flex;
    align-items: top;
    border: green;
}
.s1img{
    
    width: 300px;
}
.s1img img{
    width: 100%;
}
.s1content{
    margin-right: 30px;
    width: 950px;
}
.s1content h1{
    text-align: center;
    margin-left: 250px;
    width: 400px;
    background-color: var(--light-green-);
    border-top-width: 200px;
    border-top:5px solid var(--deep-green-);
    border-bottom: 5px solid var(--deep-green-);margin-bottom: 10px;
}
.s1content ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 900px;
    margin: 10px;
    list-style-type: none;
}
.s1content ul li{
    color: darkgreen;
    border-radius: 20px;
    border-bottom: 1px solid var(--deep-green-);
    border-top: 1px solid var(--mixed-green-);
    border-right: 1px solid var(--deep-green-);
    border-left: 1px solid var(--mixed-green-);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 290px;
    height: 150px;
    margin-right: 10px ;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.about-section-two{
    margin-top: -100px;
  display: flex;
  align-items: center;
  border: green;   
}
.s2content{
    margin-left: 70px;
    width: 700px;
}
.s2content h1{
     text-align: center;
    width: 400px;
    background-color: var(--light-green-);
    border-top-width: 200px;
    border-top:5px solid var(--deep-green-);
    border-bottom: 5px solid var(--deep-green-);margin-bottom: 20px;
}
.s2content p{
    width: 500px;
    text-align: justify;
    line-height: 2;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.s2img{
    width: 350px;
}


.about-section-three{
  margin-top: 100px;
  display: flex;
  align-items: center;
  border: green;   
}
.s3content{
    margin-left: 70px;
    width: 700px;
}
.line{
    border: 1px;
    margin-left: 100px;
    text-align: center;
    width: 350px;
    margin-left: 25px;
    background-color: var(--deep-green-);
    font-size: 6px;
    color: var(--deep-green-);

}
.s3content h1{
     text-align: center;
    width: 400px;
    background-color: var(--light-green-);
    border-top-width: 10px;
    /* border-top:5px solid var(--deep-green-);
    border-bottom: 5px solid var(--deep-green-);margin-bottom: px; */
}
.s3content ul{
    line-height: 2;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-top: 20px;
}
.s3content li{
     text-align: justify;
}
.s3img{
    width: 200px;
}


/* ----------------------------- */
/*   RESPONSIVE MOBILE VIEW     */
/* ----------------------------- */

@media (max-width: 768px) {
  .about-section-one,
  .about-section-two,
  .about-section-three {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .s1img {
    width: 100%;
    margin-bottom: 20px;
  }
  .s2img  {
    width: 70%;
    margin-bottom: 20px;
  }
  .s3img {
    width: 50%;
    margin-bottom: 20px;
  }

  .s1img img,
  .s2img img,
  .s3img img {
    width: 100%;
    height: auto;
  }

  .s1content,
  .s2content,
  .s3content {
    width: 90%;
    margin: 0;
  }

  .s1content h1,
  .s2content h1,
  .s3content h1 {
    width: 100%;
    margin: 0 auto 15px auto;
    font-size: 20px;
    padding: 10px 0;
    border-top: 3px solid var(--deep-green-);
    border-bottom: 3px solid var(--deep-green-);
  }

  .s1content ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .s1content ul li {
    width: 90%;
    margin: 15px 0;
    height: auto;
    font-size: 14px;
    padding: 15px;
  }

  .s2content p,
  .s3content ul,
  .s3content li {
    width: 100%;
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
  }

  .line {
    display: none;
  }
}
