header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo img {
  width: 95px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 35px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: 0.3s ease;
}

.navbar ul li a:hover {
  color: #016f0e;
}

/* Buttons */
.header-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.join-btn,
.donate-btn {
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.join-btn {
  background-color: white;
  border: 2px solid #016f0e;
  color: #016f0e;
}

.join-btn:hover {
  background-color: #016f0e;
  color: white;
}

.donate-btn {
  background-color: #016f0e;
  color: white;
}

.donate-btn:hover {
  background-color: #014f0b;
}
